.Rproj.user
.Rhistory
oceanis-package.Rproj
data/.Rhistory
vignettes/oceanis_cache/
vignettes/oceanis_files/
vignettes/doc/
diaporama-oceanis.odp
R/oceanis-internal.R
test
data-raw
maj_palettes_insee.R