export(
"shiny_ronds","shiny_classes","shiny_ronds_classes","shiny_classes_ronds","shiny_typo","shiny_oursins","shiny_joignantes","shiny_saphirs",
"leaflet_fonds_simples","leaflet_ronds","leaflet_classes","leaflet_ronds_classes","leaflet_classes_ronds","leaflet_typo","leaflet_oursins","leaflet_joignantes","leaflet_saphirs",
"plot_ronds","plot_classes","plot_ronds_classes","plot_classes_ronds","plot_typo","plot_typo_symboles","plot_oursins","plot_joignantes","plot_saphirs",
"zonage_a_facon",
"add_typo_symboles",
"add_legende_ronds","add_legende_classes","add_legende_typo","add_legende_typo_symboles","add_legende_joignantes","add_legende_saphirs","add_titre","add_source","add_fond_osm",
"set_fonds_simples","set_couleur_classes","set_opacite_elargi","set_couleur_ronds","set_couleur_typo","set_style_oursins","set_couleur_joignantes","set_couleur_saphirs",
"rayon_ronds","rapport_ronds","largeur_fleche",
"coord_legende",
"calcul_ratio","calcul_tx_evol_global","calcul_tx_evol_ann_moy","calcul_part_ens","calculette",
"distrib_variable",
"recup_palette",
"coordonnees_etiquettes",
"export_qgis_ronds","export_qgis_classes","export_qgis_ronds_classes","export_qgis_classes_ronds","export_qgis_typo","export_qgis_oursins","export_qgis_joignantes","export_qgis_saphirs",
"export_png","export_jpeg","export_pdf"
)
importFrom(shiny,a)
importFrom(shiny,absolutePanel)
importFrom(shiny,actionButton)
importFrom(shiny,actionLink)
importFrom(shiny,addResourcePath)
importFrom(shiny,animationOptions)
importFrom(shiny,appendTab)
importFrom(shiny,as.shiny.appobj)
importFrom(shiny,basicPage)
importFrom(shiny,bookmarkButton)
importFrom(shiny,bootstrapLib)
importFrom(shiny,bootstrapPage)
importFrom(shiny,br)
importFrom(shiny,browserViewer)
importFrom(shiny,brushedPoints)
importFrom(shiny,brushOpts)
importFrom(shiny,callModule)
importFrom(shiny,captureStackTraces)
importFrom(shiny,checkboxGroupInput)
importFrom(shiny,checkboxInput)
importFrom(shiny,clickOpts)
importFrom(shiny,code)
importFrom(shiny,column)
importFrom(shiny,conditionalPanel)
importFrom(shiny,conditionStackTrace)
importFrom(shiny,createWebDependency)
importFrom(shiny,dateInput)
importFrom(shiny,dateRangeInput)
importFrom(shiny,dblclickOpts)
importFrom(shiny,debounce)
importFrom(shiny,dialogViewer)
importFrom(shiny,div)
importFrom(shiny,downloadButton)
importFrom(shiny,downloadHandler)
importFrom(shiny,downloadLink)
importFrom(shiny,em)
importFrom(shiny,enableBookmarking)
importFrom(shiny,eventReactive)
importFrom(shiny,exportTestValues)
importFrom(shiny,exprToFunction)
importFrom(shiny,extractStackTrace)
importFrom(shiny,fileInput)
importFrom(shiny,fillCol)
importFrom(shiny,fillPage)
importFrom(shiny,fillRow)
importFrom(shiny,fixedPage)
importFrom(shiny,fixedPanel)
importFrom(shiny,fixedRow)
importFrom(shiny,flowLayout)
importFrom(shiny,fluidPage)
importFrom(shiny,fluidRow)
importFrom(shiny,formatStackTrace)
importFrom(shiny,freezeReactiveVal)
importFrom(shiny,freezeReactiveValue)
importFrom(shiny,getDefaultReactiveDomain)
importFrom(shiny,getQueryString)
importFrom(shiny,getShinyOption)
importFrom(shiny,getUrlHash)
importFrom(shiny,h1)
importFrom(shiny,h2)
importFrom(shiny,h3)
importFrom(shiny,h4)
importFrom(shiny,h5)
importFrom(shiny,h6)
importFrom(shiny,headerPanel)
importFrom(shiny,helpText)
importFrom(shiny,hideTab)
importFrom(shiny,hoverOpts)
importFrom(shiny,hr)
importFrom(shiny,HTML)
importFrom(shiny,htmlOutput)
importFrom(shiny,htmlTemplate)
importFrom(shiny,icon)
importFrom(shiny,imageOutput)
importFrom(shiny,img)
importFrom(shiny,includeCSS)
importFrom(shiny,includeHTML)
importFrom(shiny,includeMarkdown)
importFrom(shiny,includeScript)
importFrom(shiny,includeText)
importFrom(shiny,incProgress)
importFrom(shiny,inputPanel)
importFrom(shiny,insertTab)
importFrom(shiny,insertUI)
importFrom(shiny,installExprFunction)
importFrom(shiny,invalidateLater)
importFrom(shiny,is.reactive)
importFrom(shiny,is.reactivevalues)
importFrom(shiny,is.shiny.appobj)
importFrom(shiny,is.singleton)
importFrom(shiny,isolate)
importFrom(shiny,isRunning)
importFrom(shiny,isTruthy)
importFrom(shiny,knit_print.html)
importFrom(shiny,knit_print.reactive)
importFrom(shiny,knit_print.shiny.appobj)
importFrom(shiny,knit_print.shiny.render.function)
importFrom(shiny,knit_print.shiny.tag)
importFrom(shiny,knit_print.shiny.tag.list)
importFrom(shiny,mainPanel)
importFrom(shiny,makeReactiveBinding)
importFrom(shiny,markRenderFunction)
importFrom(shiny,maskReactiveContext)
importFrom(shiny,modalButton)
importFrom(shiny,modalDialog)
importFrom(shiny,navbarMenu)
importFrom(shiny,navbarPage)
importFrom(shiny,navlistPanel)
importFrom(shiny,nearPoints)
importFrom(shiny,need)
importFrom(shiny,NS)
importFrom(shiny,ns.sep)
importFrom(shiny,numericInput)
importFrom(shiny,observe)
importFrom(shiny,observeEvent)
importFrom(shiny,onBookmark)
importFrom(shiny,onBookmarked)
importFrom(shiny,onFlush)
importFrom(shiny,onFlushed)
importFrom(shiny,onReactiveDomainEnded)
importFrom(shiny,onRestore)
importFrom(shiny,onRestored)
importFrom(shiny,onSessionEnded)
importFrom(shiny,onStop)
importFrom(shiny,outputOptions)
importFrom(shiny,p)
importFrom(shiny,pageWithSidebar)
importFrom(shiny,paneViewer)
importFrom(shiny,parseQueryString)
importFrom(shiny,passwordInput)
importFrom(shiny,plotOutput)
importFrom(shiny,plotPNG)
importFrom(shiny,pre)
importFrom(shiny,prependTab)
importFrom(shiny,printError)
importFrom(shiny,printStackTrace)
importFrom(shiny,Progress)
importFrom(shiny,radioButtons)
importFrom(shiny,reactive)
importFrom(shiny,reactiveFileReader)
importFrom(shiny,reactivePlot)
importFrom(shiny,reactivePoll)
importFrom(shiny,reactivePrint)
importFrom(shiny,reactiveTable)
importFrom(shiny,reactiveText)
importFrom(shiny,reactiveTimer)
importFrom(shiny,reactiveUI)
importFrom(shiny,reactiveVal)
importFrom(shiny,reactiveValues)
importFrom(shiny,reactiveValuesToList)
importFrom(shiny,registerInputHandler)
importFrom(shiny,removeInputHandler)
importFrom(shiny,removeModal)
importFrom(shiny,removeNotification)
importFrom(shiny,removeTab)
importFrom(shiny,removeUI)
importFrom(shiny,renderImage)
importFrom(shiny,renderPlot)
importFrom(shiny,renderPrint)
importFrom(shiny,renderTable)
importFrom(shiny,renderText)
importFrom(shiny,renderUI)
importFrom(shiny,repeatable)
importFrom(shiny,req)
importFrom(shiny,restoreInput)
importFrom(shiny,runApp)
importFrom(shiny,runGadget)
importFrom(shiny,runGist)
importFrom(shiny,runGitHub)
importFrom(shiny,runUrl)
importFrom(shiny,safeError)
importFrom(shiny,selectInput)
importFrom(shiny,selectizeInput)
importFrom(shiny,serverInfo)
importFrom(shiny,setBookmarkExclude)
importFrom(shiny,setProgress)
importFrom(shiny,setSerializer)
importFrom(shiny,shinyApp)
importFrom(shiny,shinyAppDir)
importFrom(shiny,shinyAppFile)
importFrom(shiny,shinyOptions)
importFrom(shiny,shinyServer)
importFrom(shiny,shinyUI)
importFrom(shiny,showBookmarkUrlModal)
importFrom(shiny,showModal)
importFrom(shiny,showNotification)
importFrom(shiny,showReactLog)
importFrom(shiny,showTab)
importFrom(shiny,sidebarLayout)
importFrom(shiny,sidebarPanel)
importFrom(shiny,singleton)
importFrom(shiny,sliderInput)
importFrom(shiny,snapshotExclude)
importFrom(shiny,snapshotPreprocessInput)
importFrom(shiny,snapshotPreprocessOutput)
importFrom(shiny,span)
importFrom(shiny,splitLayout)
importFrom(shiny,stopApp)
importFrom(shiny,strong)
importFrom(shiny,submitButton)
importFrom(shiny,suppressDependencies)
importFrom(shiny,tableOutput)
importFrom(shiny,tabPanel)
importFrom(shiny,tabsetPanel)
importFrom(shiny,tag)
importFrom(shiny,tagAppendAttributes)
importFrom(shiny,tagAppendChild)
importFrom(shiny,tagAppendChildren)
importFrom(shiny,tagList)
importFrom(shiny,tags)
importFrom(shiny,tagSetChildren)
importFrom(shiny,textAreaInput)
importFrom(shiny,textInput)
importFrom(shiny,textOutput)
importFrom(shiny,throttle)
importFrom(shiny,titlePanel)
importFrom(shiny,uiOutput)
importFrom(shiny,updateActionButton)
importFrom(shiny,updateCheckboxGroupInput)
importFrom(shiny,updateCheckboxInput)
importFrom(shiny,updateDateInput)
importFrom(shiny,updateDateRangeInput)
importFrom(shiny,updateNavbarPage)
importFrom(shiny,updateNavlistPanel)
importFrom(shiny,updateNumericInput)
importFrom(shiny,updateQueryString)
importFrom(shiny,updateRadioButtons)
importFrom(shiny,updateSelectInput)
importFrom(shiny,updateSelectizeInput)
importFrom(shiny,updateSliderInput)
importFrom(shiny,updateTabsetPanel)
importFrom(shiny,updateTextAreaInput)
importFrom(shiny,updateTextInput)
importFrom(shiny,urlModal)
importFrom(shiny,validate)
importFrom(shiny,validateCssUnit)
importFrom(shiny,verbatimTextOutput)
importFrom(shiny,verticalLayout)
importFrom(shiny,wellPanel)
importFrom(shiny,withLogErrors)
importFrom(shiny,withMathJax)
importFrom(shiny,withProgress)
importFrom(shiny,withReactiveDomain)
importFrom(shiny,withTags)
import(utils)
import(shinyBS)
import(shinyjs)
import(shinythemes)
import(DT)
import(foreign)
import(sf)
import(sfc)
import(stringr)
import(leaflet)
import(leaflet.extras)
import(classInt)
import(units)
import(grDevices)
import(ggplot2)
import(dplyr)
import(graphics)
import(mapview)
import(tidyr)
import(lwgeom)
import(munsell)