export(
"shiny_ronds","shiny_classes","shiny_ronds_classes","shiny_classes_ronds","shiny_typo","shiny_oursins","shiny_joignantes","shiny_saphirs",
"leaflet_fonds_simples","leaflet_ronds","leaflet_classes","leaflet_ronds_classes","leaflet_classes_ronds","leaflet_typo","leaflet_oursins","leaflet_joignantes","leaflet_saphirs",
"plot_ronds","plot_classes","plot_ronds_classes","plot_classes_ronds","plot_typo","plot_typo_symboles","plot_oursins","plot_joignantes","plot_saphirs",
"zonage_a_facon",
"add_typo_symboles",
"add_legende_fonds_simples","add_legende_ronds","add_legende_classes","add_legende_typo","add_legende_typo_symboles","add_legende_joignantes","add_legende_saphirs","add_titre","add_source","add_fond_osm",
"set_fonds_simples","set_couleur_classes","set_opacite_elargi","set_couleur_ronds","set_couleur_typo","set_style_oursins","set_couleur_joignantes","set_couleur_saphirs","set_pop_up","set_bordure_ronds",
"rayon_ronds","rapport_ronds","largeur_fleche",
"coord_legende",
"calcul_ratio","calcul_tx_evol_global","calcul_tx_evol_ann_moy","calcul_part_ens","calculette",
"distrib_variable",
"recup_palette",
"coordonnees_etiquettes",
"export_qgis_ronds","export_qgis_classes","export_qgis_ronds_classes","export_qgis_classes_ronds","export_qgis_typo","export_qgis_oursins","export_qgis_joignantes","export_qgis_saphirs",
"export_png","export_jpeg","export_pdf"
)
import(utils)
import(shiny, except = runExample)
import(shinyBS)
import(shinyjs)
import(shinythemes)
import(foreign)
import(sf)
import(sfc)
import(stringr)
import(leaflet)
import(leaflet.extras)
import(classInt)
import(units)
import(grDevices)
import(ggplot2)
import(dplyr)
import(graphics)
import(mapview)
import(tidyr)
import(lwgeom)
import(munsell)
